@namespace VisualAcademy.Pages.TextTemplates.Components

@if (IsShow)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@EditorFormTitle</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="Hide"></button>
                </div>
                <div class="modal-body">
                    @if (ModelEdit.Id != 0)
                    {
                        <div class="mb-3">
                            <label for="id" class="form-label">Id: </label> @ModelEdit.Id
                            <input type="hidden" @bind-value="@ModelEdit.Id" />
                        </div>
                    }
                    <div class="mb-3">
                        <label for="txtName" class="form-label">Title</label>
                        <input type="text" id="txtName" @bind="@ModelEdit.Title" class="form-control" placeholder="Enter Title" />
                    </div>
                    <div class="mb-3">
                        <label for="txtMessage" class="form-label">Message</label>
                        <input type="text" id="txtMessage" @bind="@ModelEdit.Message" class="form-control" placeholder="Enter Message" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="CreateOrEditClick">Submit</button>
                    <button type="button" class="btn btn-secondary" @onclick="Hide">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}
